.site-footer {
    background: var(--main-background-color);
    border-top: 5px solid var(--main-blue-color);
    h5 {
        color: var(--main-gold-color);
        margin-bottom: 1.5em;
        opacity: 0;
        transform: translateX(1em);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-out; 
        transition-delay: 1.7s;
    }
    h6 {
     color: var(--main-gold-color);
    }
    .footer-wrapper {
        display: flex;
        max-width: 1200px;
        margin: 2em auto;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 4em;
    }
    li {
        list-style: none outside;
        opacity: 0;
        transform: translateY(-1em);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-out; 
        @for $i from 1 to 6 {
            &:nth-child(#{$i}) { transition-delay: $i * 0.20s; }
          }
        a {
            display: flex;
            margin-bottom: 0.5em;
            h6 {
                color: var(--main-blue-color);
                margin-left: 0.7em;
            }
            &:hover h6 {
                color: var(--main-gold-color)
            }
        }
    }
    img {
        width: 30px;
        height: 30px
    }
}
.logo {
    a {
        img {
            width: 250px;
            height: 130px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out 1.5s;
        }
    }
    ul {
        display: flex;
        
            a {
                margin-right: 0.5em;
            }
            i {
                font-size: 1.5em;
                color: var(--main-gold-color);
                &:hover {
                    color: var(--main-blue-color)
                }
            }
    }
}
.addition {
    opacity: 0;
    transform: translateX(-1em);
    transition: 0.4s transform ease-in, opacity 0.4s ease-out;
    transition-delay: 1.5s;
    margin-top: 4em;
    a {
        text-align: center;
        color: var(--main-grey-color);
        padding-right: 0.4em;
        display: block;
        &:hover {
            color: white
        }
    }
}

.footer-games {

}
.animate {
    li {
        opacity: 1;
        transform: translateY(0)        
    }
    .addition {
        opacity: 1;
        transform: translateX(0)
    }
    h5 {
        opacity: 1;
        transform: translateX(0)
    }
    .logo {
        img {
            opacity: 1;
        }
    }
}