.social-media {
    margin-left: 12em;
    li {
        display: inline-block;
        margin: 0.5em;
        opacity: 0;
        transform: translate(-2em, -4em);
        animation: social 0.5s forwards;
        &:nth-child(2) {
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          transition-delay: 0.2s;
        }
        *:hover {
            color: var(--main-gold-color);
        }
    }
    a {
        color: var(--main-blue-color);
        
    }
    i {
        font-size: 1.2em;
    }
}


@keyframes social {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}