.site-header {
    
    background: var(--main-background-color);
    border-bottom: 5px solid var(--main-blue-color);
    .header-wrapper {
      padding: 0 4em;
      display: flex;
      align-items: center;
    }
  }
  
  .header-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    a {
      padding: 0;
      margin: 0;
      display: block;
    }
    img {
      width: 200px;
      height: 100px;
      display: block;
      opacity: 0;
      transform: translateY(10em);
      animation: logo ease-in-out 0.8s forwards;
    }
  }
  @keyframes logo {
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
   }