.logged-home {
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/loggedBg.jpg') no-repeat center center;
    background-size: cover;
    padding: 2em;
    aside {
        display: flex;
        width: 1000px;
        margin: 0 auto;
    }
    .game-nav {
        width: 65%;
        ul {
            display: flex;
        }
       li {
           list-style: none outside;
           padding: 0.5em 0.7em;
           background: var(--main-background-color);
           border-radius: 50%;
           margin-right: 0.3em;
           &:hover {
               background:var(--main-blue-color);
           }
       }
        img {
            width: 35px;
            height: 35px;
        }
    }
    .credits {
        padding: 1em 2em;
        text-align: center;
        border: 2px solid var(--main-gold-color);
        border-radius: 1em;

        
        h2 {
            color: var(--main-gold-color);
            font-size: 1.5em;
        }
        p {
            color: var(--main-blue-color);
            font-size: 1.5em;
        }
    }
    .dashoard {
        margin: 0 auto;
        max-width: 1000px;
        padding: 2em 0;
        
        h2 {
            color: var(--main-blue-color);
            text-align: center;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 2em auto;

        }
        li {
            list-style: none outside;
            background: var(--main-background-color);
            margin-bottom: 2.5em;
        }
    }
}